.Pagination {
    display: flex;
    padding: var(--padding);
    justify-content: space-between;
    align-items: center;
    color: var(--color);
}

.row {
    display: flex;
    flex-direction: row;
}

.Pagination > ul > li > a {
    color: #007bff;
    border-color: #007bff;
    background-color: rgba(1, 1, 1, 0);
};