.headerComp {
    margin: 30px 0;
    padding: 0 100px;
}

.headerComp img {
    width: auto;
    height: 50px;
}

.headerComp .title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerComp .title h1 {
    min-width: 300px;
}

.headerComp .title img {
    width: 100%;
    height: auto;
}

