.Header img {
    width: auto;
    height: 50px;
}

.Header .title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Header .title h1 {
    min-width: 300px;
}

.Header .title img {
    width: 100%;
    height: auto;
}

